In [103]:

import pandas as pd

In [107]:
olympicdata = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

In [108]:
olympicdata.columns

Index(['# Summer', '01 !', '02 !', '03 !', 'Total', '# Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '# Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [110]:
olympicdata.columns=['Summer', 'Gold', 'Silver', 'Bronze', 'Total', 'Winter', 'Gold.1',
       'Silver.1', 'Bronze.1', 'Total.1', ' Games', 'Gold.2', 'Silver.2', 'Bronze.2',
       'Combined total']

In [111]:
country = olympicdata.index.str.split('\s\(') 
olympicdata.index = country.str[0] 
olympicdata.drop('Totals')

,Summer,Gold,Silver,Bronze,Total,Winter,Gold.1,Silver.1,Bronze.1,Total.1,Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [125]:
def first():
   
    return olympicdata.iloc[0]

In [126]:
first()

Summer            13
Gold               0
Silver             0
Bronze             2
Total              2
Winter             0
Gold.1             0
Silver.1           0
Bronze.1           0
Total.1            0
 Games            13
Gold.2             0
Silver.2           0
Bronze.2           2
Combined total     2
diff               0
Points             2
Name: Afghanistan, dtype: int64

In [122]:
def most_gold ():
    return olympicdata[olympicdata['Gold'] == olympicdata['Gold'].max()].index[0]

most_gold()

'United States'

In [121]:
def difference():
    olympicdata['diff'] = abs(olympicdata['Gold'] - olympicdata['Gold.1'])
    return olympicdata[olympicdata['diff'] == olympicdata['diff'].max()].index[0]

difference()

'United States'

In [120]:
def Points():
    olympicdata['Points'] = olympicdata['Gold.2'] * 3 + olympicdata['Silver.2'] * 2 + olympicdata['Bronze']
    return olympicdata['Points']

Points()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            919
Austria                              488
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              149
Belgium                              273
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             408
Burundi                                3
Cameroon                              12
Canada                               794
Chile                                 24
China                               1101
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               66
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                267
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1163
Switzerland                          582
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              216
United Arab Emirates                   3
United States                       5600
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           170
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, Length: 146, dtype: int64